<form action="/admin/create" method="POST" id="sign-up-form" class="form-signin admin-new">
	
	<h2>Create an account</h2>

	<% if(!flash.success && flash.failure){ %>
		<div class="alert alert-danger">
			<button class="close" type="button" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<span><%= flash.failure %></span>
		</div>
	<%	} %>
	<input type="text" class="form-control" id="name" placeholder="Name" name="name">

	<input type="email" class="form-control" placeholder="Email" name="email">

	<input type="password" id="password" class="form-control" placeholder="Password" name="password">

	<input type="password" class="form-control" placeholder="Password Confirmation" name="confirmation">

	<input type="text" class="form-control" placeholder="Organization" name="organization">

	<input type="submit" class="btn btn-lg btn-primary btn-block" value="Create Account">
	<input type="hidden" name="_csrf" value="<%= _csrf %>">
</form>