<div class="container item-show">
	<h1>题目描述</h1>

	<p class="item-show-title"><%= item.title %></p>
	
	<table class="table table-hover">
		<tr>
			<td>选项</td>
			<td>内容</td>
		</tr>

		<% _.each(item.content, function (option, index) {	%>
			<tr>
				<td><%= index+1 %></td>
				<td><%= option %></td>
			</tr>
		<%	})%>	
	</table>
</div>