<% if(flash && (flash.success || flash.failure)) {%>
	<div id="flash" class="alert alert-success alert-dismissible">
		<button class="close" type="button" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<%if(flash.success){%>
			<span><%= flash.success %></span>
		<%}else{%>
			<span><%= flash.failure %></span>		
		<% } %>
	</div>
<%	} %>