<div class="container vote-new">

	<% if(flash.success && !flash.failure) {%>
		<div class="alert alert-success alert-dismissible">
			<button class="close" type="button" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<span><%= flash.success %></span>
		</div>
	<% }else if(!flash.success && flash.failure){ %>
		<div class="alert alert-danger">
			<button class="close" type="button" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<span><%= flash.failure %></span>
		</div>
	<%	} %>



	<form class="form-horizontal" method="POST" action="/vote/create">
		<div class="form-group">
			<lable class="col-sm-2" for="textarea">题目描述</lable>
			<div class="col-sm-10">
				<textarea name="title" class="form-control" id="textarea" placeholder="题目描述" rows="4" autocomplete="off"></textarea>	
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2" for="item-1">选项 1</label>
			<div class="col-sm-10">
				<input type="text" name="item" class="form-control" id="item-1" autocomplete="off" placeholder="选项">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2" for="item-2">选项 2</label>
			<div class="col-sm-10">
				<input type="text" name="item" class="form-control" id="item-2" autocomplete="off" placeholder="选项">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2" for="item-3">选项 3</label>
			<div class="col-sm-10">
				<input type="text" name="item" class="form-control" id="item-3" autocomplete="off" placeholder="选项">
			</div>
		</div>

		<input type="hidden" name="_csrf" value="<%= _csrf %>">
		
		<div class="form-group">
			<div class="col-sm-6">
				<input type="submit" class="btn btn-mid btn-success btn-block" value="添加">			
			</div>
			<div class="col-sm-6">
				<input type="reset" class="btn btn-mid btn-warning btn-block" value="重置">			
			</div>
		</div>
	</form>	
</div>
