<div class="container vote-new">
	<form class="form-horizontal">
		<div class="form-group">
			<lable class="col-sm-2" for="textarea">题目描述</lable>
			<div class="col-sm-10">
				<textarea name="title" class="form-control" id="textarea" placeholder="题目描述" rows="4" autocomplete="off"></textarea>	
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2" for="item-0">选项 A</label>
			<div class="col-sm-10">
				<input type="text" name="item" class="form-control" id="item-0" autocomplete="off" placeholder="选项">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2" for="item-0">选项 B</label>
			<div class="col-sm-10">
				<input type="text" name="item" class="form-control" id="item-1" autocomplete="off" placeholder="选项">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2" for="item-0">选项 C</label>
			<div class="col-sm-10">
				<input type="text" name="item" class="form-control" id="item-2" autocomplete="off" placeholder="选项">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-6">
				<input type="submit" class="btn btn-mid btn-success btn-block" value="添加">			
			</div>
			<div class="col-sm-6">
				<input type="reset" class="btn btn-mid btn-warning btn-block" value="重置">			
			</div>
		</div>
	</form>	
</div>
