<%}else{%>

	<form action="/vote/create" method="POST" class="form-signin admin-new">
	
	<%- include ../flash%>

	<h2>Create an vote</h2>
	<input type="text" class="form-control" id="name" placeholder="Name" name="name" required>

	<input type="submit" class="btn btn-lg btn-primary btn-block" value="Create Vote">
	<input type="hidden" name="_csrf" value="<%= _csrf %>">
</form>
<%}%>


	<!-- <%if(!votes){%> -->
