<div class="container vote-show">
	<h1>题目描述</h1>

	<p class="vote-show-title"><%= vote.title %></p>
	
	<table class="table table-hover">
		<tr>
			<td>选项</td>
			<td>内容</td>
		</tr>

		<% _.each(vote.content, function (item, index) {	%>
			<tr>
				<td><%= index+1 %></td>
				<td><%= item %></td>
			</tr>
		<%	})%>	
	</table>
</div>