
@PorcelainWhite:#FEF9ED;
@EggshellCream:#FEFEF2;
@WhiteOrchid:#FDFDF0;
@White:#ffffff;
@Green:#9ec03b;
@Orange:#f48744;
@Bule:#189eca;
@Gray:#777574;
@LightGray:#ececec;
@Black:#1c1c1c;
@DarkBlue:#106e8d;
@DarkGray:#4a4a4a;
@Red:#d16565;
@WeddingVeil:#FFFFFD;

body{
	background-image: url(../images/default-bg.png);
}
.vote-new{
	margin-top:100px;
	max-width: 600px;
	font-family: Regular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}