
@PorcelainWhite:#FEF9ED;
@EggshellCream:#FEFEF2;
@WhiteOrchid:#FDFDF0;
@White:#ffffff;
@Green:#9ec03b;
@Orange:#f48744;
@Bule:#189eca;
@Gray:#777574;
@LightGray:#ececec;
@Black:#1c1c1c;
@DarkBlue:#106e8d;
@DarkGray:#4a4a4a;
@Red:#d16565;
@WeddingVeil:#FFFFFD;

@MarginTop:70px;

body{
	background-image: url(../images/default-bg.png);
}

.item-new, .item-edit, .item-show,.admin-show,.vote-new{
	margin-top:@MarginTop;
	max-width: 800px;
	font-size: 20px;
	line-height: 20px;
	h2{
		margin-bottom: 30px;	
	}

	.first-td{
		max-width: 300px;
	}
	.next-td{
		width: 200px;
	}
	.last-td{
		width: 100px;
	}
}

.item-index, .admin-index,.vote-index{
	margin-top:@MarginTop;
	max-width: 1024px;
}

.item-index-title{
	max-width: 300px;
	white-space: normal;
	overflow:hidden;
	text-overflow:ellipsis;
}

.item-show-title{
	font-size: 22px;
	width: 100%;
	min-height: 80px;
	padding: 16px 10px;
	background-color: @White;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius: 15px;
	border:1px solid @DarkGray;
}

.a-button:focus, .a-button:hover, .a-button:active, .a-button:visited{
	outline: none;
	text-decoration: none;
}

.login-button-right{
	margin-right: 10px;
}

.form-signin{
	width: 30%;
	max-width: 30%;
	padding: 19px 29px 29px;
	margin: 20px auto 20px;
	background-color: @LightGray;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius: 15px;

	h2{
		text-align: center;
		margin-top: 0px;
	}

}

.form-signin input[type="text"],
.form-signin input[type="password"],
.form-signin input[type="email"]{
	font-size: 16px;
	height: auto;
	margin-bottom: 10px;
	padding: 7px 9px;
}

.admin-new{
	margin-top:@MarginTop;
}

.admin-show-first-td{
	text-align: left;
}

